In [ ]:
tup = 4,5,6
tup

In [ ]:
nested_tup =(4,5,6),(7,8)
nested_tup

In [ ]:
tuple([4, 0, 2])
tup = tuple('string')
tup

In [ ]:
tup[0]

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

In [ ]:
tup[1].append(3)
tup

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'bar') * 4

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

In [ ]:

a, b, *_ = values